extends layout

block content
  h1= title
  p Welcome to #{title}
  div#divPost
    input#btnPost(type="button", value="POST")
    textarea#txtPostRes(rows="20", cols="200")
  div#divGet
    input#btnGet(type="button", value="GET")
    textarea#txtGetRes(rows="20", cols="200")

  script(type="text/javascript").
    $(document).ready(function(){
      // doPost
      $("#btnPost").click(function(){
        $("#txtPostRes").val("");
        $.ajax({
          url: "./dohttp/dopost", 
          type: "POST",
          success: function(result){
            $("#txtPostRes").val(result);
          }
        });
      });  //$("#btnPost").click(function()
      
      // doGet
      $("#btnGet").click(function(){
        $("#txtGetRes").val("");
        $.ajax({
          url: "./dohttp/doget", 
          type: "GET",
          success: function(result){
            $("#txtGetRes").val(result);
          }
        });
      });  //$("#btnGet").click(function()
      
      
    }); //$(document).ready(function()