extends layout

block content
  h1= title
  p Welcome to #{title}
  div#divSend
    p mqlight url:
    input#inSendUrl(value="amqp://localhost", style="width: 300px;")
    p topic:
    input#inSendTopic(value="news/technology")
    p message:
    input#inMsg(value="Hello MQLight!")
    input#btnSend(type="button", value="Send")
    p msg sent:
    textarea#txtSent(rows="5", cols="50")
  div#divReceive
    p mqlight url:
    input#inReceiveUrl(value="amqp://localhost", style="width: 300px;")
    p topic:
    input#inReceiveTopic(value="news/technology")
    input#btnSubscribe(type="button", value="Subscribe")
    input#btnUnsubscribe(type="button", value="Unsubscribe")
    p msg received (wait for 5 seconds):
    textarea#txtReceived(rows="5", cols="50")
    
  script(src="/js/socket.io.js").

  script(type="text/javascript").
    $(document).ready(function(){
      $("#btnSubscribe").prop('disabled', false);
      $("#btnUnsubscribe").prop('disabled', true);
      
      var socket = io.connect('http://localhost:4000'); // socket for received msg

      // send
      $("#btnSend").click(function(){
        $.ajax({
          url: "./mqlight/send", 
          type: "POST",
          data: "inSendUrl="+$("#inSendUrl").val()+"&inSendTopic="+$("#inSendTopic").val()+"&inMsg="+$("#inMsg").val(),
          success: function(result){
            $("#txtSent").html( $("#txtSent").val() + result.status + "\r");
          }
        });
      });  //$("#btnSend").click(function()
      
      // subscribe
      $("#btnSubscribe").click(function(){
        $("#btnSubscribe").prop('disabled', true);
        $("#btnUnsubscribe").prop('disabled', false);
        $("#inReceiveUrl").prop('disabled', true);
        $("#inReceiveTopic").prop('disabled', true);

        $.ajax({
          url: "./mqlight/subscribe", 
          type: "POST",
          data: "inReceiveUrl="+$("#inReceiveUrl").val()+"&inReceiveTopic="+$("#inReceiveTopic").val(),
          success: function(result){
            // socket.io listens to the received message event
            socket.on($("#inReceiveTopic").val(), function(msg){
              $("#txtReceived").html( $("#txtReceived").val() + msg + "\r");
            });
            
            $("#txtReceived").html( $("#txtReceived").val() + result.status + "\r");
          }
        });
      });  //$("#btnSubscribe").click(function()
      
      // unsubscribe
      $("#btnUnsubscribe").click(function(){
        $("#btnSubscribe").prop('disabled', false);
        $("#btnUnsubscribe").prop('disabled', true);
        $("#inReceiveUrl").prop('disabled', false);
        $("#inReceiveTopic").prop('disabled', false);

        $.ajax({
          url: "./mqlight/unsubscribe", 
          type: "POST",
          data: "inReceiveUrl="+$("#inReceiveUrl").val()+"&inReceiveTopic="+$("#inReceiveTopic").val(),
          success: function(result){
            socket.removeListener($("#inReceiveTopic").val());
            $("#txtReceived").html( $("#txtReceived").val() + result.status + "\r");
          }
        });
      });  //$("#btnUnsubscribe").click(function()
      
    }); //$(document).ready(function()